body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Satisfy', cursive;
    background-color: #F8DAEC;
}

header {
    background: #dd9acc;
    padding: 20px 0;
    font-size: 34px;
    text-align: center;
}

.menu {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

li a {
    font-size: 30px;
    text-shadow: 2px 2px 5px white;
}